<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cardConfiguration" type="VirtualCashCard.Service.Configuration.CardConfig, VirtualCashCard.Service" />
  </configSections>
  <cardConfiguration initialAmount="1000" pin="1234"></cardConfiguration>
</configuration>