<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cardConfiguration" type="VirtualCashCard.Service.Configuration.CardConfig, VirtualCashCard.Service" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <cardConfiguration initialAmount="1000" pin="1234"></cardConfiguration>
</configuration>